* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    margin: 0 auto;
    padding: 0 5rem;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    background-color: hsla(180, 1%, 97%, 1);
    background-image: radial-gradient(at 81% 65%, hsla(218, 98%, 94%, 1) 0px, transparent 50%), radial-gradient(at 95% 99%, hsla(39, 95%, 94%, 1) 0px, transparent 50%), radial-gradient(at 48% 26%, hsla(271, 77%, 94%, 1) 0px, transparent 50%), radial-gradient(at 75% 26%, hsla(197, 87%, 94%, 1) 0px, transparent 50%);
}

/**** General ****/

a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

/*********** Header ***********/

.header {
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(40px);
    position: sticky;
    top: 1rem;
    z-index: 100;
    margin-top: 1rem;
    padding: 0 1rem;
    border-radius: 5rem;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo a {
    text-transform: uppercase;
    transition: color .3s cubic-bezier(.47, 0, .745, .715);
}

.navbar_logo a:hover {
    color: #b010fb;
}

.nav-text a {
    text-transform: uppercase;
    transition: color .3s cubic-bezier(.47, 0, .745, .715);
}

.nav-text a:hover {
    color: #b010fb;
}

.navbar_link {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar_link .nav-text {
    padding-right: 50px;
}

.navbar_link .last {
    padding-right: 0;
}

/*********** Main ***********/

.main_wrapper {
    padding: 0 15rem;
}

h2 {
    font-size: 48px;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

h3 {
    font-size: 36px;
}

.more_btn {
    color: #ff285c;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border: 3px, solid, #ff285c;
    border-radius: 31px;
    padding: 16px 24px;
    transition: color .3s cubic-bezier(.47, 0, .745, .715), background-color .3s cubic-bezier(.47, 0, .745, .715);
}

.more_btn:hover {
    color: #fff;
    background-color: #ff285c;
}

.nice_wrapper {
    border: .5px solid rgba(255, 228, 232, .8);
    border-radius: 6px;
    background-color: rgb(251, 251, 253);
    box-shadow: rgba(28, 29, 33, 0.135) 0px 0.60219px 0.60219px -1.16667px, rgba(28, 29, 33, 0.12) 0px 2.28853px 2.28853px -2.33333px, rgba(28, 29, 33, 0.06) 0px 10px 10px -3.5px, rgba(223, 224, 225, 0.3) 0px 0px 0px 0px;
    cursor: pointer;
}

.nice_wrapper:hover {
    box-shadow: rgba(28, 29, 33, 0.065) 0px 0.60219px 2.04744px -0.5px, rgba(28, 29, 33, 0.08) 0px 2.28853px 2.28853px -1px, rgba(28, 29, 33, 0.14) 0px 10px 34px -1.5px, rgba(223, 224, 225, 0.3) 0px 0px 0px 0px;
}

.line {
    border-top: .5px solid #000;
    margin: 0 -15rem;
}

/*********** Landing section ***********/

.hero_wrapper {
    height: 100vh;
    position: relative;
/* A effacer si img retrécie */
    margin-bottom: 10rem;
}

.slogan {
    font-size: 72px;
    text-align: center;
    margin-top: 7rem;
}

.hero-img {
    background-color: #CC78B5;
    width: 600px;
    aspect-ratio: 2 / 3;
    border-radius: 20rem;
    transition: .3s;
    overflow: hidden;
    position: absolute;
    bottom: -5rem;
}

.gaepic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-img:hover {
    border-radius: 200px;
}

.hero_text {
    position: relative;
    top: 38%;
    left: 55%;
    width: 40%;
}

.hero_text-hello {
    font-size: 36px;
    padding-bottom: 2rem;
}

.hero_text-title {
    font-size: 36px;
    font-weight: 400;
}


.hero_text-localisation {
    font-size: 36px;
    margin-top: 2rem;
    color: #8C8C8C;
}

.hero-contact {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;
    
}

.icon_wrapper {
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s cubic-bezier(.47, 0, .745, .715), background-color .3s cubic-bezier(.47, 0, .745, .715);

}

.icon_wrapper:hover {
    color: #fff;
    background-color: #ff285c;
    border: #fff;
}

.fa-contact, .fa-brands {
    font-size: 1.2rem;
}

.hero-contact button {
    border: none;
    background-color: #ff285c;
    padding: 1rem 1.5rem;
    border-radius: 20px;
}

.highlight {
    background: linear-gradient(214deg, #ff285c, #b010fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

/*********** Projects section ***********/

.line-section {
    border-top: 1px solid #000;
    width: 5rem;
    margin: 0 auto;
}

.project_section {
    margin-bottom: 6rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.project_wrapper {
    display: flex;
    /* padding: 50px 0; */
}

.title_wrapper {
    width: 70%;
}

.project_describe-wrapper {
    width: 70%;
}

.img_wrapper {
    width: 60%;
    aspect-ratio: 3/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.text_wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.text_wrapper h3 {
    font-weight: 700;
}

.project_describe {
    margin-bottom: 10rem;
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(116, 116, 116);
}

.project_title {
    margin-bottom: 1rem;
}

.project_describe-text {
    margin-bottom: 4rem;
}

/* .rond {
    background-color: #ff285c;
} */

.stack-icon {
    border: .5px solid rgba(202, 202, 202, 0.8);
    border-radius: 6px;
    padding: .1rem .5rem;
    line-height: 1.8rem;
    background-color: #FAFAFA;
}

.stack-icon i {
    padding-right: .6rem;
}

.img-right {
    order: 2;
}

/*********** Skill section ***********/

.skill_section {
    margin-bottom: 6rem;
}

.stack_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.stack {
    padding: 1rem;
    cursor: default;
}

.backend {
    grid-column: 2 / 4;
}

h4 {
    font-size: 21px;
    margin-bottom: 1rem;
}

.row-stack {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}
.expertise-icon {
    padding-right: 2rem;

}

/*********** About section ***********/

.about_section {
    margin-bottom: 6rem;
}

.about_text-btn {
    text-align: center;
}

.about_text-btn h4 {
    margin-top: 2rem;
}

.about_stack {
    justify-content: center;
    margin-bottom: 5rem;
}

/* .soft-skill {
    padding: 1rem;
    width: 13%;
    margin-right: 5rem;
} */

.about_text-btn a {
    margin-left: 0;
}


/*********** Contact section ***********/

.footer {
    background-color: #000;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    color: #fff;
    margin: 0 -5rem;
}

.contact_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 10rem 5rem;
}

.footer-contact {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.footer-contact .icon_wrapper {
    border: 1px solid #fff;
}

.allright {
    color: #8C8C8C;
}

.fa-heart {
    color: #ff285c;
}

/*********** About ***********/

.presentation_section {
    padding: 5rem 0;
}