* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    margin: 0 auto;
    padding: 0 5rem;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    background-color: hsla(180, 1%, 97%, 1);
    background-image: radial-gradient(at 81% 65%, hsla(218, 98%, 94%, 1) 0px, transparent 50%), radial-gradient(at 95% 99%, hsla(39, 95%, 94%, 1) 0px, transparent 50%), radial-gradient(at 48% 26%, hsla(271, 77%, 94%, 1) 0px, transparent 50%), radial-gradient(at 75% 26%, hsla(197, 87%, 94%, 1) 0px, transparent 50%);
}

/**** General ****/

a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.main_wrapper {
    padding: 0 15rem;
}

.icon_wrapper {
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s cubic-bezier(.47, 0, .745, .715), background-color .3s cubic-bezier(.47, 0, .745, .715);

}

.icon_wrapper:hover {
    color: #fff;
    background-color: #ff285c;
    border: #fff;
}

.fa-contact, .fa-brands {
    font-size: 1.5rem;
}

/*********** Header ***********/

.header {
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(40px);
    position: sticky;
    top: 1rem;
    z-index: 100;
    margin-top: 1rem;
    padding: 0 1rem;
    border-radius: 5rem;
    width: 100%;
    transition: width 0.3s ease;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo a {
    text-transform: uppercase;
    transition: color .3s cubic-bezier(.47, 0, .745, .715);
}

.navbar_logo a:hover {
    color: #b010fb;
}

.nav-text a {
    text-transform: uppercase;
    transition: color .3s cubic-bezier(.47, 0, .745, .715);
}

.nav-text a:hover {
    color: #b010fb;
}

.navbar_link {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar_link .nav-text {
    padding-right: 50px;
}

.navbar_link .last {
    padding-right: 0;
}

label, #toggle {
    display: none;
}

/*********** Introduction ***********/

.main_wrapper h1 {
    font-size: 48px;
    margin-top: 5rem;
}

.subtitle {
    color: #8C8C8C;
    font-size: 26px;
    margin-bottom: 3rem;
}

.project-name {
    color: #b010fb;
    font-weight: 700;
}

.project-presentation {
    margin-bottom: 2rem;
}

.introduction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.introduction-subtitle {
    margin-top: 0;
    text-transform: none;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-bottom: 1rem;
}

.introduction-stack {
    display: flex;
    color: #8C8C8C;
    list-style-type: none;
    gap: 2rem;
    margin-top: 1rem;
}

/*********** Picture ***********/

.picture_wrapper {
    margin: 0 -15rem;
    background-color: #eeeaf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 5rem;
    flex-wrap: wrap;
}

.picture_wrapper img {
    object-fit: contain;
    width: 32%;
}

/*********** Objectif ***********/

h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #b010fb;
    margin-top: 6rem;
}

h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.margin {
    margin-bottom: 1rem;
}

.highlight_span {
    font-weight: 500;
}

.more_btn {
    color: #ff285c;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #ff285c;
    border-radius: 31px;
    padding: 16px 24px;
    transition: color .3s cubic-bezier(.47, 0, .745, .715), background-color .3s cubic-bezier(.47, 0, .745, .715);
}

.more_btn:hover {
    color: #fff;
    background-color: #ff285c;
}

.btn_project {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.project_navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    font-weight: 700;
}

.project_navigation a {
    transition: color .3s cubic-bezier(.47, 0, .745, .715);
}

.project_navigation a:hover {
    color: #b010fb;
}

/*********** Contact section ***********/

.footer {
    background-color: #000;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    color: #fff;
    margin: 0 -5rem;
}

.footer h2 {
    font-size: 48px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 3rem;
    color: #fff;
    text-transform: none;
}

.contact_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 5rem 5rem;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.footer-icon .icon_wrapper {
    border: 1px solid #fff;
}

.footer a {
    color: #fff;
}

.allright {
    color: #8C8C8C;
}

.fa-heart {
    color: #ff285c;
}

/*********** Media queries ***********/

/* Large devices (desktop, less/equal than 1440px) */
@media (max-width: 1440px) {
    .main_wrapper {
        padding: 0 10rem;
    }

    /*********** Picture ***********/
    .picture_wrapper {
        margin: 0 -15rem;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .app-container {
        font-size: 16px;
    }

    .main_wrapper {
        padding: 0 3rem;
    }

    /*********** Introduction ***********/
    .main_wrapper h1 {
        font-size: 2.7rem;
        margin-top: 5rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    /*********** Picture ***********/
    .picture_wrapper {
        margin: 0 -8rem;
        padding: 5rem 5rem
        /* flex-direction: column;
        gap: 2rem; */
    }
    
    /* .picture_wrapper img {
        width: 100%;
    } */
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .app-container {
        padding: 0 1rem;
    }

    .main_wrapper {
        padding: 0;
    }

    .main_wrapper h1 {
        font-size: 2rem;
    }

    /*********** Header section ***********/
    .navbar {
        flex-direction: row-reverse;
    }

    .navbar_link {
        display: none;
        flex-direction: column;
        background-color: rgba(255, 255, 255, .6);
        backdrop-filter: blur(40px);
        align-items: center;
        position: absolute;
        top: 3.5rem;
        right: 0;
        border-radius: 20px;
        z-index: 101;
    }

    .header:has(#toggle:checked) {
        backdrop-filter: none;
    }

    .navbar_link .nav-text {
        padding-right: 0;
        padding: 1rem;
    }
    
    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        cursor: pointer;
    }
    
    #toggle:checked ~ .navbar_link {
        display: flex;
    }

    /*********** Introduction ***********/
    .introduction-stack {
        flex-wrap: wrap;
        font-size: 14px;
    }

    /*********** Picture ***********/
    .picture_wrapper {
        margin: 0 -1rem;
        padding: 4rem 1rem;
        flex-direction: column;
        gap: 2rem;
    }

    .picture_wrapper img {
        width: 100%;
    }

    /*********** Objectif ***********/

    h2 {
    font-size: 1.4rem;
    }

    h3 {
    font-size: 1.2rem;
    }

    /*********** Contact section ***********/

    .footer {
        margin: 0 -1rem;
    }

    .footer h2 {
        font-size: 48px;
        padding-bottom: 3.5rem;
    }

    .contact_wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 0 5rem 0;
    }

    .copyright-allright {
        order: 2;
        margin-top: 2rem;
        font-size: 14px;
    }

    .madewith {
        order: 1;
        margin-top: 3rem;
    }

}